body { padding:0px; margin:0px; background: #fff; line-height: 2em; }
* { font-family:Roboto,Helvetica,Arial,sans-serif; box-sizing: border-box; }
kbd { border: 1px solid #aaa; border-radius: 4px; padding: 4px; margin: 0px; display: inline-block; background: #f9f9f9; }
kbd img { max-width: 800px; }
/*h1 { border-bottom: 1px solid #ccc; padding-bottom: 0.3em; padding-top: 0.2em; }*/
.head { width: 100%; background: #333; box-shadow: 1px 1px 4px #666; padding: 8px; color: #fff; }
.main { padding: 20px; }
#logo { font-size: 20px; font-family: 'Arial'; letter-spacing: 4px; margin-left: 8px; }
.top-nav { text-align: right; }

table {
	border: none; border-spacing: 0; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc;
}
table td, table th {
	border: none; border-top: 1px solid #ccc; border-left: 1px solid #ccc;
	padding: 2px 8px 2px 8px;
}
table th {
	background: #eee;
}
@media only screen and (max-width: 800px) {
	kbd img { width: 100%; }
}

.shareList {
	list-style:none;
	display: flex;
	flex-wrap:wrap;
	width:100%;
	margin:-5px 0 0 -5px;
	padding:0;
}
.shareList__item {
	height:30px;
	line-height:30px;
	width:30px;
	margin:5px 0 0 5px;
	text-align:center;
}
.shareList__link {
	display:block;
	color:#ffffff;
	text-decoration: none;
	border-radius: 5px;
}
.shareList__link::before{
	font-size:16px;
	display:block;
	transition: ease-in-out .2s;
	border-radius: 5px;
}
.shareList__link:hover::before{
	background:#ffffff;
	transform: scale(1.2);
	box-shadow:1px 1px 4px 0px rgba(0,0,0,0.15);
}
 
.shareList__link.icon-twitter{background:#55acee;}
.shareList__link.icon-twitter:hover::before{color:#55acee;}
 
.shareList__link.icon-facebook{background:#3B5998;}
.shareList__link.icon-facebook:hover::before{color:#3B5998;}
 
.shareList__link.icon-google-plus{background:#dd4b39;}
.shareList__link.icon-google-plus:hover::before{color:#dd4b39;}
 
.shareList__link.icon-hatebu{background:#008FDE;}
.shareList__link.icon-hatebu:hover::before{color:#008FDE;}
 
.shareList__link.icon-pocket{background:#EB4654;}
.shareList__link.icon-pocket:hover::before{color:#EB4654;}
 
.shareList__link.icon-rss{background:#ff9900;}
.shareList__link.icon-rss:hover::before{color:#ff9900;}
 
.shareList__link.icon-feedly{background:#6cc655;}
.shareList__link.icon-feedly:hover::before{color:#6cc655;}
 
.shareList__link.icon-pinterest{background:#cb2027;}
.shareList__link.icon-pinterest:hover::before{color:#cb2027;}
 
.shareList__link.icon-linkedin{background:#0e76a8;}
.shareList__link.icon-linkedin:hover::before{color:#0e76a8;}
 
.shareList__link.icon-line{background:#1dcd00;}
.shareList__link.icon-line:hover::before{color:#1dcd00;}
