body { padding:0px; margin:0px; background: #fff; line-height: 2em; }
* { font-family:Roboto,Helvetica,Arial,sans-serif; box-sizing: border-box; }
kbd { border: 1px solid #aaa; border-radius: 4px; padding: 4px; margin: 0px; display: inline-block; background: #f9f9f9; }
kbd img { max-width: 800px; }
/*h1 { border-bottom: 1px solid #ccc; padding-bottom: 0.3em; padding-top: 0.2em; }*/
.head { width: 100%; background: #333; box-shadow: 1px 1px 4px #666; padding: 8px; color: #fff; }
.main { padding: 20px; }
#logo { font-size: 20px; font-family: 'Arial'; letter-spacing: 4px; margin-left: 8px; }
.top-nav { text-align: right; }

table {
	border: none; border-spacing: 0; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc;
}
table td, table th {
	border: none; border-top: 1px solid #ccc; border-left: 1px solid #ccc;
	padding: 2px 8px 2px 8px;
}
table th {
	background: #eee;
}
@media only screen and (max-width: 800px) {
	kbd img { width: 100%; }
}
